<!DOCTYPE html>
<html lang=en>

<head>
<title>{{ .Title }}</title>

<style>
.Logo {
  background-image: url(/images/{{.Site.Params.logo}});
  background-repeat: no-repeat;
}
</style>

<meta charset="utf-8" />
<link rel="shortcut icon" href="/favicon.png">

{{ $assetPage := "tpl_category.jsx" }}
{{ if .IsHome }}
  {{ $assetPage = "tpl_home.jsx" }}
  <script>const dataLink = "{{ .Permalink }}/category/index.json"</script>
{{else}}
  <script>const dataLink = "{{ .Permalink }}index.json"</script>
{{ end }}

{{ with resources.Get $assetPage }}
  {{ $options := dict "defines" (dict "process.env.NODE_ENV" "\"production\"" "process.env.BaseURL" (printf `"%s"` $.Site.BaseURL)) }}
  {{ $script := . | js.Build $options }}
  <script src="{{ $script.RelPermalink }}" defer></script>
{{ end }}


</head>

<body>
<div id="root"></div>
{{- block "main" . }}{{- end }}
</body>
</html>
